<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.multiselect_select {
    background:url('images/available_seat_img.jpg') center;
    display:inline-block;
    width:33px; height: 33px;
    margin-bottom:20px;
}
.multiselect_s {
    background:url('images/selected_seat_img.jpg') center;
    display:inline-block;
    width:33px; height: 33px;
    margin-bottom:20px;
     margin-left: 40px;
}
.multiselect_sel {
    background:url('images/column-view-33.jpg') center;
    display:inline-block;
    width:33px; height: 33px;
    margin-bottom:20px;
}
.center {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
  padding-left: 70px
}
.ex1 {
  margin-left: 950px;
  font-size:18px
}
</style>
</head>
<body>
    <div class="center"> 
    <h1>Select seats</h1>
    <div>
        <div id="1" class="multiselect_select" onClick="reply_click(this.id)">1</div>
        <div id="2" class="multiselect_select" onClick="reply_click(this.id)" >2</div>
        <div id="3" class="multiselect_select" onClick="reply_click(this.id)">3</div>
        <div class="multiselect_select">4</div>
        <div class="multiselect_sel">p</div>
        <div class="multiselect_select">5</div>
        <div class="multiselect_select">6</div>
        <div class="multiselect_select">7</div>
        <div class="multiselect_select">8</div>
    </div>
    <div>
        <div class="multiselect_select">9</div>
        <div class="multiselect_select">10</div>
        <div class="multiselect_select">11</div>
        <div class="multiselect_select">12</div>
        <div class="multiselect_sel">p</div>
        <div class="multiselect_select">13</div>
        <div class="multiselect_select">14</div>
        <div class="multiselect_select">15</div>
        <div class="multiselect_select">16</div>
    </div>
    <div>
        <div class="multiselect_select">17</div>
        <div class="multiselect_select">18</div>
        <div class="multiselect_select">19</div>
        <div class="multiselect_select">20</div>
        <div class="multiselect_sel">p</div>
        <div class="multiselect_select">21</div>
        <div class="multiselect_select">22</div>
        <div class="multiselect_select">23</div>
        <div class="multiselect_select">24</div>
    </div>
    <div>
        <div class="multiselect_select">25</div>
        <div class="multiselect_select">26</div>
        <div class="multiselect_select">27</div>
        <div class="multiselect_select">28</div>
        <div class="multiselect_sel">p</div>
        <div class="multiselect_select">29</div>
        <div class="multiselect_select">30</div>
        <div class="multiselect_select">31</div>
        <div class="multiselect_select">32</div>
    </div>
    <div>
        <div class="multiselect_select">33</div>
        <div class="multiselect_select">34</div>
        <div class="multiselect_select">35</div>
        <div class="multiselect_select">36</div>
        <div class="multiselect_sel">p</div>
        <div class="multiselect_select">37</div>
        <div class="multiselect_select">38</div>
        <div class="multiselect_select">39</div>
        <div class="multiselect_select">40</div>
    </div>
    <div>
        <div class="multiselect_select">41</div>
        <div class="multiselect_select">42</div>
        <div class="multiselect_select">43</div>
        <div class="multiselect_select">44</div>
        <div class="multiselect_sel">p</div>
        <div class="multiselect_select">45</div>
        <div class="multiselect_select">46</div>
        <div class="multiselect_select">47</div>
        <div class="multiselect_select">48</div>
    </div>
  </div>
  <div>
 <div class="multiselect_select">
  <br>
  <p>Available seat</p>
 </div>
 <div class="multiselect_s">
  <br>
  <p>Selected seat</p>
 </div> 
 </div>
 <form method="POST" action="@{/confirm}">
     <button id="ex1" type="button">Continue</button>
</form>
<script>
var ids=[];
var k=0;
 $(".multiselect_select").on("click", function (e) {
		 e.preventDefault();
		 k=k+1;
		 if(k<=6)
	     { $(this).css("background-image", "url('images/selected_seat_img.jpg')"); 
	     }
	     else
	     { alert("Maximum limit reached"); }
  });
function reply_click(clicked_id)
{   ids.push(clicked_id);
    alert(clicked_id);
}
$('#ex1').click(function (e) {

    e.preventDefault();     // do not submit the form


    $.ajax({
        type: "POST",
        url: "http://localhost:8080/confirm",
        dataType: 'json',
        data: JSON.stringify(ids),
        contentType: "application/json; charset=utf-8",
        success: function(data){
        	alert(data);
            window.location.href = "http://localhost:8080/pay";
        },
        failure: function(errMsg) {
            alert("Error"+errMsg);
        }
    });
});
</script>
</body>
</html>