<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.multiselect_select {
    background:url('images/available_seat_img.jpg') center;
    display:inline-block;
    width:33px; height: 33px;
    margin-bottom:20px;
}
.multiselect_s {
    background:url('images/selected_seat_img.jpg') center;
    display:inline-block;
    width:33px; height: 33px;
    margin-bottom:20px;
     margin-left: 40px;
}
.multiselect_sel {
    background:url('images/column-view-33.jpg') center;
    display:inline-block;
    width:33px; height: 33px;
    margin-bottom:20px;
}
.center {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
  padding-left: 70px
}
.ex1 {
  margin-left: 950px;
  font-size:18px
}
</style>
</head>
<body>
    <div class="center"> 
    <h1>Select seats</h1>
    <div>
        <div id="1" class="multiselect_select" onClick="reply_click(this.id)">1</div>
        <div id="2" class="multiselect_select" onClick="reply_click(this.id)" >2</div>
        <div id="3" class="multiselect_select" onClick="reply_click(this.id)">3</div>
        <div id="4" class="multiselect_select" onClick="reply_click(this.id)">4</div>
        <div class="multiselect_sel">p</div>
        <div id="5" class="multiselect_select" onClick="reply_click(this.id)">5</div>
        <div id="6" class="multiselect_select" onClick="reply_click(this.id)">6</div>
        <div id="7" class="multiselect_select" onClick="reply_click(this.id)">7</div>
        <div id="8" class="multiselect_select" onClick="reply_click(this.id)">8</div>
    </div>
    <div>
        <div id="9" class="multiselect_select" onClick="reply_click(this.id)">9</div>
        <div id="10" class="multiselect_select" onClick="reply_click(this.id)">10</div>
        <div id="11" class="multiselect_select" onClick="reply_click(this.id)">11</div>
        <div id="12" class="multiselect_select" onClick="reply_click(this.id)">12</div>
        <div class="multiselect_sel">p</div>
        <div id="13" class="multiselect_select" onClick="reply_click(this.id)">13</div>
        <div id="14" class="multiselect_select" onClick="reply_click(this.id)">14</div>
        <div id="15" class="multiselect_select" onClick="reply_click(this.id)">15</div>
        <div id="16" class="multiselect_select" onClick="reply_click(this.id)">16</div>
    </div>
    <div>
        <div id="17" class="multiselect_select" onClick="reply_click(this.id)">17</div>
        <div id="18" class="multiselect_select" onClick="reply_click(this.id)">18</div>
        <div id="19" class="multiselect_select" onClick="reply_click(this.id)">19</div>
        <div id="20" class="multiselect_select" onClick="reply_click(this.id)">20</div>
        <div class="multiselect_sel">p</div>
        <div id="21" class="multiselect_select" onClick="reply_click(this.id)">21</div>
        <div id="22" class="multiselect_select" onClick="reply_click(this.id)">22</div>
        <div id="23" class="multiselect_select" onClick="reply_click(this.id)">23</div>
        <div id="24" class="multiselect_select" onClick="reply_click(this.id)">24</div>
    </div>
    <div>
        <div id="25" class="multiselect_select" onClick="reply_click(this.id)">25</div>
        <div id="26" class="multiselect_select" onClick="reply_click(this.id)">26</div>
        <div id="27" class="multiselect_select" onClick="reply_click(this.id)">27</div>
        <div id="28" class="multiselect_select" onClick="reply_click(this.id)">28</div>
        <div class="multiselect_sel">p</div>
        <div id="29" class="multiselect_select" onClick="reply_click(this.id)">29</div>
        <div id="30" class="multiselect_select" onClick="reply_click(this.id)">30</div>
        <div id="31" class="multiselect_select" onClick="reply_click(this.id)">31</div>
        <div id="32" class="multiselect_select" onClick="reply_click(this.id)">32</div>
    </div>
    <div>
        <div id="33" class="multiselect_select" onClick="reply_click(this.id)">33</div>
        <div id="34" class="multiselect_select" onClick="reply_click(this.id)">34</div>
        <div id="35" class="multiselect_select" onClick="reply_click(this.id)">35</div>
        <div id="36" class="multiselect_select" onClick="reply_click(this.id)">36</div>
        <div class="multiselect_sel">p</div>
        <div id="37" class="multiselect_select" onClick="reply_click(this.id)">37</div>
        <div id="38" class="multiselect_select" onClick="reply_click(this.id)">38</div>
        <div id="39" class="multiselect_select" onClick="reply_click(this.id)">39</div>
        <div id="40" class="multiselect_select" onClick="reply_click(this.id)">40</div>
    </div>
    <div>
        <div id="41" class="multiselect_select" onClick="reply_click(this.id)">41</div>
        <div id="42" class="multiselect_select" onClick="reply_click(this.id)">42</div>
        <div id="43" class="multiselect_select" onClick="reply_click(this.id)">43</div>
        <div id="44" class="multiselect_select" onClick="reply_click(this.id)">44</div>
        <div class="multiselect_sel">p</div>
        <div id="45" class="multiselect_select" onClick="reply_click(this.id)">45</div>
        <div id="46" class="multiselect_select" onClick="reply_click(this.id)">46</div>
        <div id="47" class="multiselect_select" onClick="reply_click(this.id)">47</div>
        <div id="48" class="multiselect_select" onClick="reply_click(this.id)">48</div>
    </div>
  </div>
  <div>
 <div class="multiselect_select">
  <br>
  <p>Available seat</p>
 </div>
 <div class="multiselect_s">
  <br>
  <p>Selected seat</p>
 </div> 
 </div>
 <form method="POST" action="@{/confirm}" style="padding-left: 1000px;">
     <button id="ex1" type="button" style="font-size: 18px;">Continue</button>
</form>
<script>
var ids=[];
var k=0;
 $(".multiselect_select").on("click", function (e) {
		 e.preventDefault();
		 k=k+1;
		 if(k<=6)
	     { $(this).css("background-image", "url('images/selected_seat_img.jpg')"); 
	     }
	     else
	     { alert("Maximum limit reached"); }
  });
function reply_click(clicked_id)
{   ids.push(clicked_id);
}
$('#ex1').click(function (e) {

    e.preventDefault();     // do not submit the form


    $.ajax({
        type: "POST",
        url: "http://localhost:8080/confirm",
        dataType: 'json',
        data: JSON.stringify(ids),
        contentType: "application/json; charset=utf-8",
        success: function(data){
            window.location.href = "http://localhost:8080/pay";
        },
        failure: function(errMsg) {
            alert("Error"+errMsg);
        }
    });
});
</script>
</body>
</html>