<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <button id="1" onClick="reply_click(this.id)">B1</button>
<button id="2" onClick="reply_click(this.id)">B2</button>
<button id="3" onClick="reply_click(this.id)">B3</button>
<button type="button" name="Submit" value="Login" type="Submit">Submit</button>
<script type="text/javascript">
function reply_click(click_id) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById(click_id).innerHTML = this.responseText;
    }
  };
  var k={"id":click_id};
  xhttp.open("POST", "seats.html", true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(k);
}
</script>
</body>
</html>